<style type=text/css>
.contain {    width:100%; margin:0 auto;  background:url({{ SITEURL }}/theme/img/bg.png)repeat; }
.contain2 {    width:100%; margin:0 auto;  background:url({{ SITEURL }}/theme/img/bg.png)repeat; }

	.tabs-text ul li { background:url({{ SITEURL }}/theme/img/check-n.png) no-repeat left top; color:#818488; margin:25px 0 0px 0;  display:block; padding:0 0 0 30px; font-size:14px; }
.featu-div  { margin:100px 0 0; width:5%; height:100px; float:left; display:block; background: url({{ SITEURL }}/theme/img/featu-div.png) no-repeat scroll 0 15px ; }
.screenshots { padding:45px 0 55px; background:url({{ SITEURL }}/theme/img/scrn.png)repeat; height:410px; display:block; box-shadow:0 1px 0 rgba(255,255,255,0.8)inset,0 1px 0 rgba(0,0,0,0.05); }
.pric-head   { padding:20px 0;  background:url({{ SITEURL }}/theme/img/pr-div.png) repeat-x bottom ; }
.pric-body li   {  font-weight:300; height:60px ; font-size:14px; color:#b8bfc2; width:100%; margin:0 auto;   text-align:center; display:block; background:url({{ SITEURL }}/theme/img/pr-div.png) repeat-x bottom ; }
.tabs-nav2 li.one a { border:0; height:21px; display:block; width:70px; padding:0 24px 0 0; background:url({{ SITEURL }}/theme/img/tabs2.png) no-repeat ; background-position:right 100%; }
#nav a { overflow:hidden; display: block; overflow: hidden;   float:left; height:20px; width:18px; background:url({{ SITEURL }}/theme/img/testi-nav2.png) no-repeat ;   margin:0 0 0 5px;  }
#nav a.activeSlide { background:url({{ SITEURL }}/theme/img/testi-nav1.png) no-repeat ;  }	
.tabs-nav2 li.two a { border:0 ; height:21px; display:block; width:70px; padding:0 0 0 24px; background:url({{ SITEURL }}/theme/img/tabs2-2.png) no-repeat ; background-position:left 100%; }
.social li.facebook a { background:url({{ SITEURL }}/theme/img/facebook.png) no-repeat ;  width:35px; height:36px; display:block;  }
.social li.twitter a { background:url({{ SITEURL }}/theme/img/twitter.png) no-repeat ;  width:35px; height:36px; display:block;   }
#popi-bg {
    background: url({{ SITEURL }}/theme/img/bg-checker.png) repeat scroll 0 0 transparent; }
    #close2{   background: url(/theme/img/close-contact.png) no-repeat scroll 0 0 transparent; }
    .scroll-top  { z-index:900; position:fixed; bottom:15px; right:35px; display:none; width:51px; height:35px;  background: url({{ SITEURL }}/theme/img/scrolltop.png) no-repeat scroll 0 0 transparent; }
    .abt-div {  height:2px; width:100%; background:url(/theme/img/pr-div.png) repeat-x bottom ;  }
    .extras.location {
    background:url({{ SITEURL }}/theme/img/scrn.png)repeat;}
    .featu-div  { margin:100px 0 0; width:5%; height:100px; float:left; display:block; background: url({{ SITEURL }}/theme/img/featu-div.png) no-repeat scroll 0 15px ; }

    .tabs-nav a .icon-game-ea {
    background:url({{ SITEURL }}/theme/img/tab-ea.png) no-repeat;
}
.tabs-nav a .icon-game-mk {
    background:url({{ SITEURL }}/theme/img/tab-mk.png) no-repeat;
}
.tabs-nav a .icon-game-ki {
    background:url({{ SITEURL }}/theme/img/tab-ki.png) no-repeat;
}
.tabs-nav a .icon-game-pc {
    background:url({{ SITEURL }}/theme/img/tab-pc.png) no-repeat;
}

#lightboxOverlay {
 background: url("{{ SITEURL }}/theme/img/screenshots/bg-checker.png") repeat scroll 0 0 transparent;  
}
#close{   background: url("{{ SITEURL }}/theme/img/screenshots/close.png") no-repeat scroll 0 0 transparent; }
</style>