<!-- Partners -->

<div class="contain-btm">
<div class="partners">
<div class="wrapper">
<div class="row-fluid prt-div">
<div class="span3 prt"><img src="{{ SITEURL }}/theme/img/partners/cec.png" alt="CEC Aracaju" /></div>
<div class="span3 prt"><img src="{{ SITEURL }}/theme/img/partners/partner2.png" alt="Strike7 Games" /></div>
<div class="span3 prt"></div>
<div class="span3 prt"></div>
</div>
</div>
</div>
</div>


<div class="footer">
<div class="wrapper">
<div class="social">
<ul><li class="facebook"><a href="https://www.facebook.com/events/863777247027368/"></a></li><li class="twitter"><a href="https://twitter.com/xbxtournaments"></a></li></ul>
</div>
<div class="copy"><p><strong>{{AUTHOR}}</strong> &#169; copyright 2015. todos os direitos reservados</p></div>
<div class="copy-nav">
<ul>
<li class="cpyn"><a href="{{ SITEURL }}">Inicio</a><li>
<li class="cpyn"><a href="{{ SITEURL }}/archives.html">Blog</a><li>
<li class="cpyn"><a href="{{ SITEURL }}/pages/sobre.html">Sobre</a><li>
</ul>
</div>
</div>
</div>