
<!-- Features -->
<div class="features">
<div class="wrapper">
<div class="title"><h3>Os <span>torneios</span> para vencedores</h3></div>


<!--   Feature 1  -->
<div class="featu">
<div class="icon"> <img src="{{ SITEURL }}/theme/img/icons/features1.png"  alt="" />  </div>
<h6>Multiplos torneios</h6>
<p>Acontecerão torneios nos principais jogos e estilo. Luta, corrida, esportes.</p>
 </div>

 <div class="featu-div"></div>
<!--    Feature 2  -->
<div class="featu">
<div class="icon"> <img src="{{ SITEURL }}/theme/img/icons/features2.png" alt="" />  </div>
<h6> Os melhores jogadores</h6>
<p>Supere seu adversário. Os melhores jogadores de Sergipe estarão na disputa</p>
</div>

<div class="featu-div"></div>
<!--    Feature 2  -->
<div class="featu">
<div class="icon"> <img src="{{ SITEURL }}/theme/img/icons/features3.png" alt="" />  </div>
<h6>Premiações fantásticas</h6>
<p>Para o vencedor muita glória e premios fantásticos. Participe e mostre seu valor.</p>
</div>




</div>
</div><!-- END Features -->


<!-- Extras Section -->
<div class="extras location">
    <div class="wrapper">
        <div  class="tabs-img2">
            <a href="https://www.google.com/maps/place/CEC+-+Coworking+e+Escrit%C3%B3rio+Virtual/@-10.9303196,-37.057461,18z/data=!4m7!1m4!3m3!1s0x71ab3973e9072f9:0x43a5b263de470529!2sAv.+Pedro+Paes+Azevedo,+488+-+Treze+de+Julho,+Aracaju+-+SE,+49020-240,+Brasil!3b1!3m1!1s0x71ab39718f8f515:0x269c645ee19e00d6?hl=pt-BR" >
             <div id="map"></div>
            </a>
        </div>
        <div class="tabs-text2">
            <h6>O lugar ideal para o evento</h6>
            <p class="subtitles">CEC COWORKING</p>
            <p>Avenida Pedro Paes Azevedo, 488, sala 02. <br> Salgado Filho. Aracaju/SE.<br>
                (Rua da TV Cidade, em frente à antiga escola parque).</p>
        </div>

    </div>

</div>

<!-- Pricing Section -->
<div class="pricing">
<div class="wrapper">

<div class="title">
 <h3> Veja os  <span> PREÇOS </span> do evento</h3>
</div>
<div id="tabs2">
<div class="tabs-content2">
<div id="tabs2-1">
<div class="pric-wrap">
<div  class="row-fluid">

<!-- Pricing 1 -->
<div class="span4 pric">
<div class="pric-head"><h6>Visitante</h6></div>
<div class="pric-body">
  <ul>
 <li><p  class="no">Participante </p></li>
 <li><p  class="no">Torneios</p></li>
 <li><p  class="no">Fichas</p></li>

  </ul></div>
<div class="pric-footer">
<p>Gratuito</p>
<p class="prs"></p>
<div class="pric-butt"><a href="#">Registrar</a></div>
</div>
</div>

<!-- Pricing 2 -->
<div class="span4 pric">
<div class="pric-head"><h6>Participante</h6></div>
<div class="pric-body">
  <ul>
      <li><p  class="yes">Participante </p></li>
      <li><p  class="yes">1 Torneio</p></li>
      <li><p  class="no">Fichas</p></li>

  </ul></div>
<div class="pric-footer">
<p>R$11<span>.90</span></p>
<p class="prs">/pessoa</p>
<div class="pric-butt"><a href="#">Registrar</a></div>
</div>
</div>

<!-- Pricing 3 -->
<div class="span4 prics">
<div class="pric-head"><h6>VIP</h6></div>
<div class="pric-body">
 <ul>
 <li><p  class="yes">Participante</p></li>
 <li><p  class="yes">4 Torneios</p></li>
 <li><p  class="yes">Fichas</p></li>


  </ul></div>
<div class="pric-footer">
<p>R$27<span>.90</span></p>
<p class="prs">/pessoa</p>
<div class="pric-butt"><a href="#">Registrar</a></div>
</div>
</div>

</div>
</div>

</div>
</div>
</div>

</div>
</div><!-- END Pricing Section -->