{% extends "base.html" %}
{%block bodyheader %}
<div class="countdown">
	<div class="clock"></div>
</div>
{%endblock bodyheader %}
{% block maincontent %}
<div class="sub-wrap">


<div id="subscriber-wrap" class="subscriber">
<div id="subscriber" class="subscriber">

<div class="wrapper">
	<h4>Registre-se <span>Agora</span> e garanta sua vaga</h4>

	<!-- MailChimp Signup Form -->
	<div id="mc_embed_signup" class="newsletter-form">
	<form action="http://www.eventick.com.br/xbxtournaments-2015" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="submit" value="Registrar" name="subscribe" id="mc-embedded-subscribe" class="button-newsletter">
	</form>
	</div>
</div>


</div>
</div>
</div>
{% endblock maincontent%}
{% block content %}
{% include 'index-content.html'%}
{% endblock content %}
