{% extends "base.html" %}
{%block bodyheader %}
<div class="countdown">
	<div class="clock"></div>
</div>
{%endblock bodyheader %}
{% block maincontent %}
<div class="sub-wrap">


<div id="subscriber-wrap" class="subscriber">
<div id="subscriber" class="subscriber">

<div class="wrapper">
<h4>Aguarde <span>Registro</span> disponível em <span>05/06/2015</span>.</h4>
</div>


</div>
</div>
</div>
{% endblock maincontent%}
{% block content %}
{% include 'index-content.html'%}
{% endblock content %}