
<!-- Features -->
<div class="features">
<div class="wrapper">
<div class="title"><h3>Os <span>torneios</span> para vencedores</h3></div>


<!--   Feature 1  -->
<div class="featu">
<div class="icon"> <img src="{{ SITEURL }}/theme/img/icons/features1.png"  alt="" />  </div>
<h6>Multiplos torneios</h6>
<p>Acontecerão torneios nos principais jogos e estilo. Luta, corrida, esportes.</p>
 </div>

 <div class="featu-div"></div>
<!--    Feature 2  -->
<div class="featu">
<div class="icon"> <img src="{{ SITEURL }}/theme/img/icons/features2.png" alt="" />  </div>
<h6> Os melhores jogadores</h6>
<p>Supere seu adversário. Os melhores jogadores de Sergipe estarão na disputa</p>
</div>

<div class="featu-div"></div>
<!--    Feature 2  -->
<div class="featu">
<div class="icon"> <img src="{{ SITEURL }}/theme/img/icons/features3.png" alt="" />  </div>
<h6>Premiações fantásticas</h6>
<p>Para o vencedor muita glória e premios fantásticos. Participe e mostre seu valor.</p>
</div>




</div>
</div><!-- END Features -->

<div class="extras rules">
  <div class="wrapper">
    <div class="title">
      <h3> O grande  <span> Pote </span> dos Vencedores</h3>
      <p>
        Mais uma premiação aos vencedores
      </p>
    </div>
    <div class="tabs-text">
      <p>
        A cada inscrição será depositado R$3,00 no Pote dos Vencedores. Ao final do evento os maiores campeões levarão todo o prêmio.

      </p>
    </div>
  </div>
</div>

<!-- Tabbed Section -->
<div class="tabbed">
<div class="wrapper">

<!-- Tabbed Title -->
<div class="title">
<h3>Nesse eventos vários <span>Torneios</span> vão acontecer</h3>
</div>
</div>
<div class="tabbed-features">

<div id="tabs">

<div class="wrapper">
<ul class="tabs-nav">
        <li>
          <a href="#tabs-1">
            <div class="icon-game icon-game-ea"></div>
            Fifa 15
          </a>
        </li>
        <li>
          <a href="#tabs-2">
            <div class="icon-game icon-game-pc"></div>
            Project Cars
          </a>
        </li>
        <li>
          <a href="#tabs-3">
            <div class="icon-game icon-game-mk"></div>
            Mortal Kombat X
          </a>
        </li>
        <li>
          <a href="#tabs-4">
            <div class="icon-game icon-game-ki"></div>
            Killer Instinct
          </a>
        </li>
</ul>
</div>

<div class="tabs-content">
<div class="wrapper">
      <div id="tabs-1">
        <div class="tabs-text">
          <h6>EA FIFA 15</h6>
          <p class="subtitles"> O melhor jogo de futebol!! </p>
          <ul>
          <li>
            1º lugar - Killer Instinct Coleção Completa
          </li>
          <li>
            2º lugar - Killer Instinct Coleção Completa ( conta secundária )
          </li>
          <li>
            3º lugar - Ganhará 25 reais para locação.
          </li>
          <ul>
          <a href="regras-ea-fifa.html" >Regras</a>
        </div>
        <div class="tabs-img">
          <iframe width="320" height="260" src="https://www.youtube.com/embed/h6tuaVqU5ko" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div id="tabs-2">
        <div class="tabs-text">
          <h6>PROJECT CARS</h6>
          <p class="subtitles"> Simulação levada ao extremos</p>
          <ul>
          <li>
            1º lugar - Miniatura 1:24 de uma super máquina
          </li>
          <li>
            2º lugar - Ganhará 40 reais para locação.
          </li>
          <li>
            3º lugar - Ganhará 25 reais para locação.
          </li>
          <ul>
          <a href="regras-project-cars.html" >Regras</a>
        </div>
        <div class="tabs-img">
          <iframe width="320" height="260" src="https://www.youtube.com/embed/2L5qZdo8584" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div id="tabs-3">
        <div class="tabs-text">
          <h6>MORTAL KOMBAT X</h6>
          <p class="subtitles"> Aniquile todos seus oponentes</p>
          <ul>
          <li>
            1º lugar - Ganhará o Seasson Pass do Mortal Kombat X.
          </li>
          <li>
            2º lugar - Ganhará 40 reais para locação.
          </li>
          <li>
            3º lugar - Ganhará 25 reais para locação.
          </li>
          <ul>
          <a href="regras-mortal-kombat.html" >Regras</a>
        </div>
        <div class="tabs-img">
          <iframe width="320" height="260" src="https://www.youtube.com/embed/Ci6lMQNLKZU" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <div id="tabs-4">
        <div class="tabs-text">
          <h6>KILLER INSTINCT</h6>
          <p class="subtitles">Premiações</p>
          <ul>
          <li>
              1º lugar -
          </li>
          <li>
              2º lugar - Ganhará 40 reais para locação.
          </li>
          <li>
              3º lugar - Ganhará 25 reais para locação.
          </li>
          </ul>
          <a href="regras-killer-instinct.html" >Regras</a>
          </div>
          <div class="tabs-img">
            <iframe width="320" height="260" src="https://www.youtube.com/embed/Re8ME9CAOEY" frameborder="0" allowfullscreen=""></iframe>
          </div>
      </div>
</div>
</div>
</div>


</div>

</div><!-- END Tabbed Section -->

<!-- Extras Section -->
<div class="extras location">
    <div class="wrapper">
        <div  class="tabs-img2">
            <a href="https://www.google.com/maps/place/CEC+-+Coworking+e+Escrit%C3%B3rio+Virtual/@-10.9303196,-37.057461,18z/data=!4m7!1m4!3m3!1s0x71ab3973e9072f9:0x43a5b263de470529!2sAv.+Pedro+Paes+Azevedo,+488+-+Treze+de+Julho,+Aracaju+-+SE,+49020-240,+Brasil!3b1!3m1!1s0x71ab39718f8f515:0x269c645ee19e00d6?hl=pt-BR" >
             <div id="map"></div>
            </a>
        </div>
        <div class="tabs-text2">
            <h6>O lugar ideal para o evento</h6>
            <p class="subtitles">CEC COWORKING</p>
            <p>Avenida Pedro Paes Azevedo, 488, sala 02. <br> Salgado Filho. Aracaju/SE.<br>
                (Rua da TV Cidade, em frente à antiga escola parque).</p>
        </div>
    </div>
</div>

<!-- Pricing Section -->
<div class="pricing">
<div class="wrapper">

<div class="title">
 <h3> Veja os  <span> PREÇOS </span> do evento</h3>
</div>
<div id="tabs2">
<div class="tabs-content2">
<div id="tabs2-1">
<div class="pric-wrap">
<div  class="row-fluid">

<!-- Pricing 1 -->
<div class="span4 pric">
<div class="pric-head"><h6>Visitante</h6></div>
<div class="pric-body">
  <ul>
 <li><p  class="no">Participante </p></li>
 <li><p  class="no">Torneios</p></li>
 <li><p  class="no">Fichas</p></li>

  </ul></div>
<div class="pric-footer">
  <p>R$3<span>.00</span></p>
<p class="prs"></p>
<div class="pric-butt"><a href="#">Registrar</a></div>
</div>
</div>

<!-- Pricing 2 -->
<div class="span4 pric">
<div class="pric-head"><h6>Participante</h6></div>
<div class="pric-body">
  <ul>
      <li><p  class="yes">Participante </p></li>
      <li><p  class="yes">1 Torneio</p></li>
      <li><p  class="no">Fichas</p></li>

  </ul></div>
<div class="pric-footer">
<p>R$11<span>.90</span></p>
<p class="prs">/pessoa</p>
<div class="pric-butt"><a href="#">Registrar</a></div>
</div>
</div>

<!-- Pricing 3 -->
<div class="span4 prics">
<div class="pric-head"><h6>VIP</h6></div>
<div class="pric-body">
 <ul>
 <li><p  class="yes">Participante</p></li>
 <li><p  class="yes">4 Torneios</p></li>
 <li><p  class="yes">Fichas</p></li>


  </ul></div>
<div class="pric-footer">
<p>R$29<span>.90</span></p>
<p class="prs">/pessoa</p>
<div class="pric-butt"><a href="#">Registrar</a></div>
</div>
</div>

</div>
</div>

</div>
</div>
</div>

</div>
</div><!-- END Pricing Section -->
